<div class="card col-sm-2 col-md-2 col-lg-2">
    <img class="card-img-top" src="../../assets/earth.png" alt="Card image cap">
    <div class="card-body">
        <h5 id="day0Date"></h5>
            <p id="day0High"></p>
            <p id="day0Low"></p>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>