<script src="./js/weatherAPI.js" type="text/javascript"></script>


<div class="card col-sm-2 col-md-2 col-lg-2">
    <img class="card-img-top" src="../../assets/earth.png" alt="Card image cap">
    <div class="card-title" id="cardTitle">
        <div class="card-body">
            <div class="container blog" id="test">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>