<header>
  <nav class="navbar fixed-top navbar-expand-lg navBox">
    <a class="navbar-brand" href="#">(App Name)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="btn btn-default" href="/homepage">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <!--Change signup route-->
          <a class="btn btn-default" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="" href="#"></a>
        </li>
        <!--change login route-->
        <li class="nav-item">
          <a class="btn btn-default" href="/login">Log In</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

  <button onclick="topFunction()" id="topBtn" title="Go to top">Back to Top</button>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm-3 ">
        <p>Welcome to "Website Name".
          Site capabilities:
          Visitors who signup and login can access Mars weather and weather charts,
          Mars Rover photos, and receive email notifications for next SpaceX Rocket Launch.</p>
      </div>
      <div class="col-sm-6 ">
          <div class="title"></div>
          <div class="url"></div>
          <div class="explanation"></div>
      </div>
    <div class="col-sm-3 ">
      <ul>
        <li> Named after Mars, the Roman God of War</li>
        <li>Also referred to as the Red Planet due to the effects of iron oxide on the planet's surface</li>
        <li>Mars and its red coloring can be seen from Earth with the naked eye</li>
        <li>4th planet from the Sun</li>
        <li>2nd smallest planet in our Solar System</li>
        <li>2 moons: Phobos and Deimos</li>
        <li>Mars has days and seasons comparable to Earth</li>
        <li>Orbital period is 687 (Earth) days</li>
        <li>Mars has the largest volcano on any planet in our Solar System</li>
        <li>Mars has the highest known mountain on any planet in our Solar System</li>
        <li>Mars exploration:</li>
        <ul>
          <li>Mariner 4 (unmanned spacecraft launched by NASA on 11/28/64)</li>
          <li>Viking 1 (first successful landing on surface on 7/4/76)</li>
          <li>Soviet Mars 3 (soft landing only in December 1971)</li>
          <li>7/4/97: Mars Pathfinder spacecraft</li>
          <li>7/5/97: Pathfinder launches Sojourner rover</li>
        </ul>
        <li>1/2004-6/2018: Mars Exploration Rovers Spirit and Opportunity</li>
        <li>12/23/2003: Mars Express Orbiter (European Space Agency)</li>
        <li>9/24/2014: Mars Orbiter Mission spacecraft (Indian Space Research Organization</li>
      </ul>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js" type="text/javascript"></script>
  <script src="./js/homepage.js" type="text/javascript"></script>
