<button onclick="topFunction()" id="topBtn" title="Go to top">Back to Top</button>

<!--Everything is good here-->
<div class="membersParallax">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 style="text-align: center;">Welcome, <span class="member-name"></span></h1>
      </div>
    </div>
  </div>
  <!--Season should append here yet is repeating right now-->
  <div class="season" id="season"></div>
  <h2>...Time for a vacation</h2>

<br>


  <div class="container card-group">
    <div class="row">
      <div class="card col-sm-12 col-md-1">
      </div>

      <div class="card col-sm-12 col-md-2">
        <div class="test0"> {{> card}}</div>
      </div>

      <div class="card col-sm-12 col-md-2">
        <div class="test1"> {{> card}}</div>
      </div>

      <div class="card col-sm-12 col-md-2">
        <div class="test2"> {{> card}}</div>
      </div>

      <div class="card col-sm-12 col-md-2">
        <div class="test3"> {{> card}}</div>
      </div>

      <div class="card col-sm-12 col-md-2">
        <div class="test4"> {{> card}}</div>
      </div>

      <div class="card col-sm-12 col-md-1">
      </div>

    </div>
  </div>
</div>

<br>
<br>
<br>

<div class="chart">
  <canvas id="canvas"></canvas>
</div>