 /*-----------------FORMS------------------
-------------------PAGE ELEMENTS--------------
-------------------BUTTONS--------------------
-------------------AUTO IMAGE OF THE DAY------
-------------------NAVBAR---------------------
-------------------PARALLAX-------------------
-------------------VOYAGERS LOGO--------------
-------------------EXPLORATION FACTS DIV------
-------------------CARDS----------------------
-------------------FOOTER---------------------
-------------------LINKS----------------------
-------------------SPHERE---------------------
-------------------CHART--------------------*/


/*----------------FORMS---------------------*/

h2.welcome {
    text-align: center;
    color: #ee5f00;
    margin-top: 5px;
}

.radioResponse {
    color: white;
}

form.signup,
form.login {
    margin-top: 50px;
}

.form-control {
    display: block;
    /* width: 50%; */
}


/*----------------PAGE ELEMENTS----------------*/

body {
    color: #ee5f00;
    background-color: rgb(20, 19, 19);
    /* background-image: url("/img/stars.jpg");   */
}

h1,
h2,
.h2,
h3,
h5 {
    color: #ee5f00;
}

.homeBody,
.homeHtml {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.fixed-top {
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 80px
}


/*----------------BUTTONS----------------*/

.btn-default {
    background-color: #ee5f00;
    color: black;
    border-color: #222222;
    margin: 5px;
}

.btn-default:hover {
    background-color: black;
    color: #ee5f00;
}

,
.btn-default:focus,
.btn-group.open .dropdown-toggle.btn-default {
    background-color: black;
    border-color: #ee5f00;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* color: #18BC9C; */
    border: 1px solid rgb(105, 6, 3);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#topBtn:hover {
    background-color: #ee5f00;
    color: black;
}


/*----------------AUTO IMAGE OF THE DAY----------------*/

img {
    max-width: 100%;
    /* max-height: 80%;  */
}

#mars {
    vertical-align: unset;
    /* margin-left: 12px; */
}


/*----------------NAVBAR----------------*/

.navbar-nav {
    list-style-type: none;
    padding-left: 0;
}

.navbar-collapse.collapse {
    display: inline-block !important;
    /* margin-top: 10px; */
}

.navBox {
    border: .5px solid #ee5f00;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
}

.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: black;
    border: 1px solid #ee5f00;
    float: right;
    margin: 21px;
}

.navbar-toggler.collapsed {
    width: 47px;
}

.navbar-expand-lg.expanded {
    height: 250px;
}

.navbar-collapse.collapse.show {
    display: block !important;
    margin-top: 52px;
    margin-left: 15px;
}

.navbar-collapse.collapse.show ul li {
    height: 45px;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #ee5f00;
    margin-bottom: 5px;
}

.navbar-brand {
    padding: 20px 15px;
    margin-top: 10px;
    font-size: 22px;
    color: #0f7864;
}

.navbar-nav .btn {
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 5px 15px;
    /* height: 36px; */
    width: auto;
    vertical-align: middle;
    line-height: initial;
    margin-top: 10px;
    border-width: initial;
}

.navbar-nav a:hover,
a.SU2:hover {
    color: white;
    text-shadow: #ee5f00;
    border-radius: 30%;
    transition: 1.0s;
    border-color: #ee5f00;
}

.SU2 {
    color: black;
    align-items: center;
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
}

@media (max-width: 767px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
}


/*.navbar-default {background-color: #111;border-color: #222;} */


/* ----------------Parallax---------------- */

.parallax {
    background-image: url("../img/stars.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}


/* ----------------Homepage parallax---------------- */

.logoParallax {
    background-image: url("../img/stars.jpg");
    /* height: 100%;
width: 100%; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
    /* padding-bottom: 20px; */
}


/* ----------------Voyagers Logo---------------- */

.pageLogo {
    text-align: center;
    margin-top: 20px;
}


/* ---Main page bottom - Mars Exploration Div--- */

.parallaxExploration {
    background-image: url("../img/stars.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 40px; */
}


/*----------------Log In Parallax----------------*/

.logSignParallax {
    background-image: url("../img/stars.jpg");
    height: 100%;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    padding-top: 20px;
}

.exploreLogo {
    text-align: center;
    /* margin-top: 20px; */
}

.launchParallax {
    background-image: url("../img/stars.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    padding-top: 50px;
}

.launchTitle {
    text-align: center;
    font-size: 50px;
}


/*----------------Members page parallax----------------*/

.membersParallax {
    background-image: url("../img/stars.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 20px;
    text-align: center;
}


/*----------------Exploration Facts Div----------------*/

.center {
    text-align: center;
}


/*----------------Cards----------------*/

.cards {
    justify-content: center;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-color: transparent;
    background-clip: border-box;
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
}


/*----------------FOOTER----------------*/

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    /* height: 60px; Set the fixed height of the footer here */
    /* line-height: 60px; */
    /*Vertically center the text there*/
    background-color: rgb(28, 37, 37);
    z-index: 2;
}

.copyright {
    text-align: center;
    color: white;
    padding-top: 10px;
}


/* unvisited link */

a.gh:link {
    color: #ee5f00;
}


/* visited link */

a.gh:visited {
    color: #ee5f00;
}


/* mouse over link */

a.gh:hover {
    color: white;
}


/* selected link */

a.gh:active {
    color: #ee5f00;
}

#loginForm {
    margin-top: 100px;
    z-index: 1;
}

#signupForm {
    /* margin-top: 100px; */
    z-index: 1;
}


/*----------------SPHERE----------------*/


/* #sphere-body {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 100%;
height: 100vh;
} */

.animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
}

.sphere-animation {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 580px;
    height: 580px;
    /* margin: -290px 0 0 -290px; */
}

.sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80, 80, 80, .35);
    backface-visibility: hidden;
}

@media (min-width: 500px) {
    .sphere path {
        stroke-width: .4px;
    }
}


/*----------------CHART----------------*/

.chart {
    width: 100%;
    /* margin-left: 10%;
margin-bottom: 10%; */
    color: #ee5f00;
    text-align: center;
}

@media(min-width: 1200px) .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 2800px;
}

@media (min-width: 1200px) .container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1337px;
