form.signup,
form.login {
    margin-top: 50px;
}
body {
    color: #ee5f00;
    background-color: #111;
    /* background-image: url("/Project-2/public/img/stars.jpg"); */
}
h1,
h2,
.h2, h3{
    color: #ee5f00;
}
h5 {
    color: #ee5f00;
}

/*-----PAGE BUTTONS-----*/
.btn-default {
    background-color: #ee5f00;
    color: black;
    border-color: #222222;
    margin: 5px;
}
.btn-default:hover,
.btn-default:focus,
.btn-group.open .dropdown-toggle.btn-default {
    background-color: black;
    border-color: #ee5f00;
}

/*-----AUTO IMAGE OF THE DAY-----*/
img {
    max-width: 100%;
    /* max-height: 80%;  */
}

/*------Navbar Styling---------*/
.navBox {
    border: .5px solid #ee5f00;
    background: rgba(0, 0, 0, 0.5);
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: black;
    border: 1px solid #ee5f00;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #ee5f00;
    margin-bottom: 5px;
}
/* .navbar {
    background-color: #111;
}
.navbar-default {
    background-color: #111;
    border-color: #222;
} */

/*----Scroll to top button----*/
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    /* color: #18BC9C; */
    border: 1px solid rgb(105, 6, 3);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#topBtn:hover {
background-color:  #ee5f00;
color: black;
}

/*-----Parallax------*/
.homeBody, .homeHtml {
height: 80%;
}
.parallax {
/* The image used */
background-image: url("../img/stars.jpg");
/* Full height */
height: 100%;
/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 
.bgimg-1{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1 {
    /* background-image: url("/public/img/stars.jpg"); */
    min-height: 100%;
}

/*----FOOTER----*/
.footer {
    position: absolute;
    /* bottom: 0; */
    width: 100%;
    /* height: 60px; Set the fixed height of the footer here */
    line-height: 60px; /*Vertically center the text there*/
    background-color: rgb(28, 37, 37);
}
.copyright {
    text-align: center;
    color: white;
    padding-top: 10px;
}


